@font-face {
  font-family: "inter black";
  src: url("./../../assets/font/Inter-Black.ttf");
}
:root {
  --primary-color: White;
  --secondary-color: #31220c;
  --secondary-color-light: #f7951d;
  --border-color: #f7951d50;
  --success-color: #22a722;
  --error-color: #f7941d;
  --warning-color: #f7941d;
  --pending-color: #ecc94e;
  --border-size: 0.5rem;
  --border-size-sm: 0.1rem;
  --border-radius: 2rem;
  --border-radius-sm: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  font-size: unset;
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

pre {
  font-family: "inter black", sans-serif;
  font-size: 1rem;
  word-wrap: break-word;
  white-space: pre-wrap;
}

@media (min-width: 1080px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "inter black", sans-serif;
  background-color: #523914;
}
@media (min-width: 1080px) {
  body {
    overflow: hidden;
  }
}

header {
  background-color: #31220c;
  padding: 1rem;
  color: black;
}

hr {
  border: 1px solid #291c0a;
  margin: 1rem;
}

.open-header-button {
  position: fixed;
  height: 20vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 100;
  cursor: pointer;
  transition-duration: 1s;
  font-size: 2rem;
}
.open-header-button.header-closed {
  transform: translateY(95vh);
}
@media (min-width: 1080px) {
  .open-header-button {
    display: none;
  }
}

.App-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding-top: 2rem;
  background-color: #ffcd4d;
  background-repeat: no-repeat;
  background-position: 50% 100vh;
  transition-duration: 1s;
}
.App-header .logo {
  display: block;
  justify-self: center;
  align-self: center;
  margin: auto;
  height: 5vh;
  max-width: 100%;
  object-fit: contain;
}
.App-header .close-header-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}
@media (min-width: 1080px) {
  .App-header .close-header-button {
    display: none;
  }
}
.App-header .medias {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.App-header .medias__link {
  margin: 1rem;
  text-align: center;
  color: black;
  transition-duration: 0.2s;
}
.App-header .medias__link:hover {
  color: white;
}
@media (min-width: 1080px) {
  .App-header .medias {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding: 0;
    margin: 0 1rem;
  }
  .App-header .medias__link {
    text-align: center;
    color: black;
  }
}
.App-header .navbar {
  margin: 2rem;
}
.App-header .navbar__link {
  color: black;
  text-align: center;
  margin: 0 1rem;
  transition-duration: 0.2s;
}
.App-header .navbar__link:hover {
  color: white;
}
@media (min-width: 1080px) {
  .App-header .navbar {
    display: flex;
  }
  .App-header .navbar hr {
    display: none;
  }
}
.App-header .connect-button-container {
  display: flex;
  justify-content: center;
}
.App-header .connect-button-container .connnect-wallet-button {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem 4rem;
  font-weight: bold;
  background-color: #c1770d;
  border: solid 5px #291c0a;
  border-radius: 2rem 2rem 2rem 2rem/50% 50% 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
}
@media (min-width: 1080px) {
  .App-header .connect-button-container {
    align-items: center;
    justify-content: center;
    margin: 2rem;
  }
}
.App-header.closed {
  transform: translateY(-100vh);
}
@media (min-width: 1080px) {
  .App-header.closed {
    transform: none;
  }
}
@media (min-width: 1080px) {
  .App-header {
    padding-top: 1.5rem;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 5vh;
    position: relative;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 11;
    background-color: transparent;
  }
  .App-header .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    transition-duration: 1s;
  }
  .App-header .link-group {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
@media (min-width: 1600px) {
  .App-header .link-group {
    font-size: 1.6rem;
    flex-direction: row;
    flex-grow: 1;
  }
}

.hide {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: rgb(156, 22, 22);
  text-align: center;
}

.success {
  color: rgb(22, 156, 22);
  text-align: center;
}

.color-yellow {
  color: #f7951d;
}

.hightlight-dark {
  color: rgba(0, 0, 0, 0.3);
}

.white-trans {
  color: rgba(255, 255, 255, 0.5);
}

.half-transparent {
  opacity: 0.5;
}

@font-face {
  font-family: "inter black";
  src: url("./../assets/font/Inter-Black.ttf");
}
.App {
  background-repeat: repeat;
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  min-height: 100vh;
}
.App .partner-with {
  color: white;
  text-align: center;
  width: 100%;
  padding: 1rem;
}
.App .nft-img-container {
  position: relative;
  margin: auto;
  margin-top: 25vh;
  width: 50%;
  max-width: 80%;
  max-height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--border-color);
  animation: container-border-glow 2s infinite;
}
.App .nft-img-container .nft-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes container-border-glow {
  0% {
    box-shadow: 0 0 10px 0px #ffbd2f;
  }
  50% {
    box-shadow: 0 0 10px 10px #ffbd2f;
  }
  100% {
    box-shadow: 0 0 10px 0px #ffbd2f;
  }
}
.App .bg-img {
  display: none;
}
.App .mini-game {
  position: relative;
  display: block;
  width: 100%;
  min-height: 80vh;
  background-color: rgba(0, 0, 0, 0.7333333333);
  border: 1rem solid #000000;
  overflow: hidden;
  border-radius: 5rem;
  padding-bottom: 20vh;
}
.App .main {
  background-color: #523914;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  height: 100%;
  margin-top: 20vh;
}
.App .main .title {
  color: #ffcd4d;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}
.App .main .image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
}
.App .main .mint-form {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.App .main .mint-form .price-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-weight: 500;
  color: white;
}
.App .main .mint-form .price-input .price-input-deco {
  min-width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: pink;
  display: inline-block;
  margin: 0 0.5rem 0 0;
  transform: translateY(0.1rem);
}
.App .main .mint-form .price-currency {
  width: min-content;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
.App .main .mint-form .max-available {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  margin: 0.2rem 0;
}
.App .main .mint-form .terms {
  color: rgba(255, 255, 255, 0.25);
  font-size: 0.7rem;
  margin: 1rem 0;
}
.App .main .mint-form .terms a {
  color: inherit;
  text-decoration: underline;
}
@media (min-width: 1080px) {
  .App .main .mint-form {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto auto auto;
  }
}
.App .main.white-list-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .main.white-list-page .mint-form {
  display: flex;
  width: 80%;
}
@media (min-width: 1080px) {
  .App .main.white-list-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    max-width: unset;
    max-width: 800px;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 9;
  }
}
.App .mint-effect {
  pointer-events: none;
  position: absolute;
  background-color: rgba(255, 255, 0, 0);
  border: 0px solid #ffcd4d;
  border-radius: 50%;
  z-index: 1000000;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-sizing: content-box;
}
.App .minted-display {
  position: relative;
  border-radius: var(--border-radius);
  border: var(--border-size) solid var(--border-color);
  padding: 1.5rem;
  background: #291c0a;
  width: 100%;
  margin-top: 20vh;
}
.App .minted-display .minted__title {
  color: rgba(255, 255, 255, 0.3137254902);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.App .minted-display .minted__amount {
  font-weight: 500;
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.App .minted-display .minted__next-price {
  color: white;
  font-size: 1rem;
}
.App .minted-display .smoking-mole {
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 1080px) {
  .App .minted-display {
    position: absolute;
    top: 7rem;
    right: 2rem;
    width: 40%;
  }
}
@media (min-width: 1080px) {
  .App {
    display: grid;
    max-height: 100vh;
    justify-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 20vh repeat(9, 1fr);
  }
  .App .bg-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.3);
  }
  .App .main {
    justify-self: center;
    background-color: #1d1407;
    margin: 0 1rem;
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 9;
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--border-color);
    max-width: 800px;
    max-height: 800px;
  }
  .App .minted-display {
    position: relative;
    width: 90%;
    height: 90%;
    top: unset;
    right: unset;
    margin: auto;
    margin-top: 2rem;
    flex-grow: 1fr;
    max-height: 200px;
  }
  .App .right-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    justify-self: left;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 9;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
  }
  .App .mini-game {
    padding-bottom: unset;
    min-height: 100%;
    max-width: 100%;
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 11;
    background-color: transparent;
    border: unset;
    overflow: hidden;
    border-radius: unset;
    z-index: 5;
    overflow: visible;
  }
  .App .nft-img-container {
    position: relative;
    margin-top: unset;
    width: 90%;
    height: 90%;
    max-width: unset;
    max-height: unset;
    flex-grow: 3fr;
  }
}

.homepage-main,
.terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 35vh 0;
}
.homepage-main .critical-data-group,
.terms .critical-data-group {
  display: flex;
}
.homepage-main .meme-img,
.terms .meme-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  object-fit: contain;
  z-index: -1;
}
.homepage-main .meme-img2,
.terms .meme-img2 {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  object-fit: contain;
  transform: scaleX(-1);
  z-index: -1;
}
.homepage-main .logo-group,
.terms .logo-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.homepage-main .logo-group .logo,
.terms .logo-group .logo {
  width: 5rem;
  height: 5rem;
  margin: 0 1rem;
}
.homepage-main .title,
.terms .title {
  color: #ffcd4d;
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}
.homepage-main .desc,
.terms .desc {
  color: white;
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}
@media (min-width: 1080px) {
  .homepage-main .desc,
  .terms .desc {
    font-size: 5rem;
  }
}
.homepage-main .bg-logo,
.terms .bg-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  z-index: -1;
  object-fit: cover;
  overflow: visible;
  border-radius: 50%;
}
@media (min-width: 1080px) {
  .homepage-main,
  .terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0;
    max-width: unset;
    max-width: min(1200px, 70vw);
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
  }
}

.App.term {
  overflow-y: visible;
}
.App.term .terms {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: unset;
  color: white;
  overflow-y: visible;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 10;
}
.App.term .terms h1,
.App.term .terms h2,
.App.term .terms h3 {
  margin: 1rem;
}
.App.term .terms h1 {
  color: #ffbd2f;
}
.App.term .terms h2 {
  color: #e6b223;
}
.App.term .terms h3 {
  color: #ffe9ba;
}
@media (min-width: 1080px) {
  .App.term .terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    max-width: unset;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 9;
  }
}

/*# sourceMappingURL=home.css.map */
