* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

body {
  background-color: #523914;
}

header {
  height: 100vh;
  background-color: #31220c;
  padding: 1rem;
  color: white;
}

hr {
  border: 1px solid #291c0a;
  margin: 1rem;
}

.open-header-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .open-header-button {
    display: none;
  }
}

.App-header {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  padding-top: 2rem;
}
.App-header .close-header-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .App-header .close-header-button {
    display: none;
  }
}
.App-header .medias {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.App-header .medias__link {
  margin: 1rem;
  text-align: center;
  color: #e1bb84;
}
.App-header .navbar__link {
  text-align: center;
  margin: 0 1rem;
}
.App-header .connect-button-container {
  display: flex;
  justify-content: center;
}
.App-header .connect-button-container .connnect-wallet-button {
  margin: 1rem;
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: #c1770d;
  border: solid 5px #291c0a;
  border-radius: 2rem 2rem 2rem 2rem/50% 50% 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
}
@media (min-width: 768px) {
  .App-header .connect-button-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
.App-header.closed {
  display: none;
}
@media (min-width: 768px) {
  .App-header.closed {
    display: block;
  }
}
@media (min-width: 768px) {
  .App-header {
    position: unset;
    width: auto;
    height: 100%;
  }
}

.hide {
  display: none;
}

.App .main {
  background-color: #523914;
  padding: 3rem 2rem;
  min-height: 100vh;
}
.App .main .title {
  color: #ffcd4d;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}
.App .main .image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.App .main .mint-form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.App .main .mint-form .price-label,
.App .main .mint-form .amount-label {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
.App .main .mint-form .price-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-weight: 500;
  color: white;
}
.App .main .mint-form .price-input .price-input-deco {
  min-width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: pink;
  display: inline-block;
  margin: 0 0.5rem 0 0;
  transform: translateY(0.1rem);
}
.App .main .mint-form .price-currency {
  width: min-content;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
.App .main .mint-form .amount-input-container {
  background-color: rgba(255, 255, 255, 0.1176470588);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App .main .mint-form .amount-input-container .amount-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-weight: 500;
  color: white;
  width: 85%;
  appearance: none;
  -webkit-appearance: none;
}
.App .main .mint-form .amount-input-container .amount-input::placeholder {
  color: white;
}
.App .main .mint-form .amount-input-container .amount-input:focus {
  outline: none;
}
.App .main .mint-form .amount-input-container .plus {
  font-size: 1.5rem;
  margin: 0 0.2rem;
  right: 1rem;
  cursor: pointer;
}
.App .main .mint-form .amount-input-container .minus {
  font-size: 1.5rem;
  margin: 0 0.2rem;
  cursor: pointer;
}
.App .main .mint-form .max-available {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  margin: 0.2rem 0;
}
.App .main .mint-form .terms {
  color: rgba(255, 255, 255, 0.25);
  font-size: 1rem;
  margin: 1rem 0;
}
.App .main .mint-form .terms a {
  color: inherit;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .App .main .mint-form .terms {
    font-size: 0.5rem;
  }
}
.App .main .mint-form .mint-button {
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: #ffcd4d;
  border: solid 5px rgba(247, 148, 26, 0.6235294118);
  border-radius: 2rem 2rem 2rem 2rem/50% 50% 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}
.App .minted-display {
  position: relative;
  border: 0.5rem solid rgba(252, 213, 41, 0.1529411765);
  border-radius: 2rem;
  padding: 1.5rem;
  background: #291c0a;
}
.App .minted-display .minted__title {
  color: rgba(255, 255, 255, 0.3137254902);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.App .minted-display .minted__amount {
  font-weight: 500;
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.App .minted-display .minted__next-price {
  color: white;
  font-size: 1rem;
}
.App .minted-display .smoking-mole {
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 768px) {
  .App .minted-display {
    position: absolute;
    top: 7rem;
    right: 2rem;
    width: 40%;
  }
}
@media (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: 10rem repeat(5, 1fr);
    background-image: url("../assets/forest-bg.png");
    background-size: cover;
  }
  .App .main {
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 0 5rem 5rem 0;
  }
}

/*# sourceMappingURL=home.css.map */
