.data-container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #f7931a37;
  border-radius: 1rem;
}
.data-container.solid {
  background-color: #77470c;
}

.data,
.data-value {
  font-size: 0.7rem;
  margin: 0.5rem;
  color: white;
  text-align: center;
}
