// <div className="page-lock">
// <div className="lock-icon">
//   <img src={lockIcon} alt="" />
// </div>
// <div className="lock-text">
//   <h1>Page Locked</h1>
//   <p>Connect your wallet to </p>
// </div>
// </div>

.page-lock {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  .lock-icon {
    img {
      width: 100px;
      height: 100px;
    }
  }
  .lock-text {
    h1 {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      margin: 0;
    }
    p {
      font-size: 16px;
      color: #fff;
      margin: 0;
    }
  }
}
